.notice-error {
	background-color: rgba(var(--callout-error), 1);
}

.notice-warning {
	background-color: rgba(var(--callout-warning), 1);
}

.notice-success {
	background-color: rgba(var(--callout-success), 1);
}
